name: "Photons Interactor"
version: "0.16.10"
slug: "photons_interactor"
description: "Run the Photons Interactor Daemon"
init: false
map: ["config:rw"]
environment:
  INTERACTOR_HOST: "0.0.0.0"
watchdog: "http://[HOST]:[PORT:6100]/v1/lifx/status"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
host_network: true
schema:
  silent: bool
options:
  silent: false
url: "https://photons.delfick.com/apps/interactor/homeassistant.html"
ports:
  6100/tcp: 6100
